@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#menu {
    margin-left: 47%;
    font-size: x-large;
}

#logo, a, h3 {
    font-size: 20px;
    font-family: Gideon Roman, sans-serif;
    color: #633a53d7;
    margin: 10px;
    line-height: 60px;
}

li {
    margin: 20px;
}

header,
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

h1,
a {
    text-decoration: none;
}

h1 {
    border-bottom: 1px solid #633a53d7;
}

a:hover {
    text-decoration: underline;
    color: #3edac5d7;
}

#welcome-picture-with-baloons>img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 600px;
    margin-top: -10%;
}

#hero-outer {
    border: 3px solid goldenrod;
    width: 40%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -21%;
    width: 50%;
    overflow: hidden;
}

#hero-image {
    border: 3px solid goldenrod;
    height: 400px;
    width: 100%;
    background: url('../images/main-index-photos/celebration.webp') no-repeat center center;


    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#events-outer {
    border: 3px solid goldenrod;
    width: 40%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -21%;
    width: 50%;
    overflow: hidden;
}

#events-image {
    border: 3px solid goldenrod;
    height: 400px;
    width: 100%;
    background: url('../images/main-index-photos/events.webp');
    background-repeat: no-repeat;
    background-position: center;


    animation-name: events-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes events-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#invitation-outer {
    border: 3px solid goldenrod;
    width: 40%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -21%;
    width: 50%;
    overflow: hidden;
}

#invitation-image {
    border: 3px solid goldenrod;
    height: 400px;
    width: 100%;
    background: url('../images/main-index-photos/invitation.webp');
    background-repeat: no-repeat;
    background-position: center;


    animation-name: invitation-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes invitation-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#nature-outer {
    border: 3px solid goldenrod;
    width: 40%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -21%;
    width: 50%;
    overflow: hidden;
}

#nature-image {
    border: 3px solid goldenrod;
    height: 400px;
    width: 100%;
    background: url('../images/main-index-photos/nature.webp');
    background-repeat: no-repeat;
    background-position: center;


    animation-name: nature-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes nature-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#home-outer {
    border: 3px solid goldenrod;
    width: 40%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -21%;
    width: 50%;
    overflow: hidden;
}

#home-image {
    border: 3px solid goldenrod;
    height: 400px;
    width: 100%;
    background: url('../images/main-index-photos/home_party.webp');
    background-repeat: no-repeat;
    background-position: center;


    animation-name: home-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes home-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#party-boxes {
    display: flex;
    justify-content: center;
}

#party-boxes>div {
    margin-top: 30px;
    ;
}

#parties-outside:hover {
    transform: scale(1.1);
    border: 1px solid #3edac5d7;
}

#indoor-parties:hover {
    transform: scale(1.1);
    border: 1px solid #3edac5d7;
}

#house-parties:hover {
    transform: scale(1.1);
    border: 1px solid #3edac5d7;
}

#party-boxes span:hover {
    text-decoration: underline;
    color: #633a53d7;
}


#party-boxes span {
    padding: 5px;
    margin: 0 200px;
    font-family: Gideon Roman, sans-serif;
    font-size: x-large;
    color: #3edac5d7;
    line-height: 75px;
}

#parties-outside {
    margin-bottom: 80px;
    height: 350px;
    background-image: url("/assets/images/main-index-photos/ballons_outside.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#indoor-parties {
    margin-bottom: 80px;
    height: 350px;
    background-image: url("/assets/images/main-index-photos/baloons_inside.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#house-parties {
    margin-bottom: 80px;
    height: 350px;
    background-image: url("/assets/images/main-index-photos/sunset_baloons.webp");
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    height: 150px;
}

.social-networks {
    display: flex;
    justify-content: center;
}

.social-networks i {
    font-size: 130%;
    color: #633a53d7;
    padding: 40px;
}

.social-networks i:hover {
    color: #3edac5d7;
}

#images {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

form {
    width:20%;
    padding: 20px;
    border: 2px solid #945b7ed7;
    margin-left: 500px;
    margin-top: -50px;
}

button{
    
}
.dropbtn {
    border: 2px solid goldenrod;
    border-radius: 5px;
    margin-left: 30px;
    height: 60px;
    width: 200px;
    background-color: white;
    color: #945b7ed7;
    padding: 5px;
    font-size: 14px;
  }
  
  .dropdown {
    width: 100px;
    height: 50px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border: 1px solid goldenrod;
    width: 200%;
    margin-left: 40px;
    float: right;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 50px;
    min-height: 20px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #945b7ed7;
    padding: 5px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: goldenrod;  
    background-color: white;
}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
      background-color: white;
      border-radius: 5px;
    }

  #theme {
    min-width: 160px;
    height: 50px;
  }